* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Inclusion+ to make height responsive on device change*/
html, body, main {
    height:100%;
  }
  :root {
    height: 100%;
  }

  /* DarkMode style */

:root {
    --primary-color: linear-gradient(to bottom, #bea2e7 0%, #1e4266 100%);
    --secondary-color: rgba(00, 00, 00, 0.5);
    --border-primary: rgba(0, 0, 0, 0.9);
    --top-headerCol:  rgba(44, 60, 92, 1);
    }
    
    .dark-mode {
    --primary-color: linear-gradient(to bottom, #2e2d31 0%, #382a02 100%);
    --secondary-color: #fff;
    --border-primary: rgba(179, 0, 0, 0.9);
    --top-headerCol: rgba(50, 50, 50, 1);
    }
    
    body {
      background: var(--primary-color);
      color: var(--secondary-color);
      font-family: sans-serif;
      height: 100%;
    }

.top-header{ /* header link*/
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: var(--top-headerCol);
    width: 100%;
    height: 9%; /* new Height % use stead rem */
    top:0;
    }

    .logoImg {
        height: 150px;
        width:  180px; 
       margin-top: -1rem;
    }

    .thinBlackBorder { /* thin borderline*/
      border-style: solid;
      border-width: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
      border-color: var(--border-primary);
      }

      .thinRedBorder {
      border-style: solid;
      border-width: 0rem 0rem 0.0625rem;
      border-color: rgba(179, 0, 0, 0.9);
      }

      /* Toggle Button Starts Here */

      #toggle {
        display: none;
    }
    
    #button {
        display: inline-block;
        width: 50px;
        height: 20px;
        background-color: #fff;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
        top: 1.5rem;
        left: 80%;
    }
    
    #button::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f186" ;
        /* Add in the image. You could also add an icon by the using the icon's unicode (sites like fontawesome.com provide this). */
    width: 25px;
    height: 25px;
    /* Making the icon slightly taller than the button container. */
    background-color: #e03c3c;
    color: rgba(0, 0, 50, 0.8);
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    /* Since the button has a height of 35px and the ::after has 40px, we offset the difference by pushing it up by 5px to center this element vertically. */
    left: 0;
    display: grid;
    /* Used for centering the icon image in the middle in conjunction with place content center. */
    place-content: center;
    line-height: 0;
    /*By default this will have a line height. This means that the image will not be perfectly centered by using the properties above. To make sure we can center this image in the middle, we make the line height 0. */
    transition: background-color 1.5s,
        transform 1.3s ease-in; /* check to see if image transformation time can be altered*/
}

#toggle:checked+#button::after {
    content: url('./svgImg/moon-svgrepo-com.svg');
    /* Switching the images when clicked. */
    background-color: #1f257f;
    font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f185" ; 
      color: rgba(250, 150, 50, 150.9);
    transform: translateX(20px) rotate(360deg);
    /* Since the width of the button is 90px and the pseudo element is 40px we translate by a number that adds up to 90. So we translate to the right by 50px ( 40 + 50 = 90 width of the button). We also rotate this element by 360 degrees. */
}

      /* Toggle Button Ends Here */

      /*----- SIDE HEADER CODE START -----*/
      .side-header {
        background-color: rgba(0, 11, 16, 0.9);
        height: 91%;
        width: 5%;
        z-index: 0;
        display: flex;
        position: fixed;
        top: 9%;
        border-style: solid;
      border-width: 0rem 0.0625rem 0rem 0rem  ;
      border-color: rgba(179, 0, 0, 0.9);
      justify-content: center;
    }

       li, .fa-solid {
      color: #fff;
      list-style: none;
      margin-top: 2.8rem;
      cursor: pointer;

    }

    li, .fa-solid:hover{
      color: rgba(50, 0, 0, 1);
      transition: color 0.5s ease-in;
    }

    /*---- SIDE HEADER CODE END -----*/

 .terms {
    width: 45%;
    height: 75%;
    left: 7%;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    position:absolute;
    top: 12%;
    text-align: center;
    border: 2px solid white;
    border-radius: 2%;
    box-shadow: -2px 2px 2px 2px black;

}

.privacy-policy {
    width: 45%;
    height: 75%;
    left: 54%;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    position:absolute;
    top: 12%;
    text-align: center;
    border: 2px solid white;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px black;

}

.brands {
    height: 11%;
    bottom: 0;
    width: 94.9%;
    background-color: rgba(0, 0, 0, .2);
    left: 5%;
    display: inline-block;
    position: absolute;
    text-align: center;
}

